@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600;800&display=swap');
    
body {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    padding: 3%;
}

.box {
    background-color: rgb(243, 243, 243);
    border-radius: 20px;
    padding-top: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
    margin-right: 20px;
}

.sopra {
    vertical-align: top;
    padding: 2%;
    
}

td {
    padding: 1%;
}

.attributi {
    padding-left: 15%;
    min-width: 130px;
}

input{
    width: 300px;
    border-radius:20px;
    border: 0;
    background-color: rgb(243, 243, 243);
    padding: 8px;
}

